@use '../scss/vars' as *;

.tail {
  position: relative;
  overflow: hidden;
  padding:  40px 0;

  &__bg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 160%;
    max-width: 1200px;
    transform: translate3d(-50%, -50%, 0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    opacity: 0.25;

    img {
    }
  }

  &__inner {

    position: relative;
    z-index: 1;
  min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;

  }
}

.header {
  text-align: center;
  color: $text;
  font-family: "GoodDog", sans-serif;
  line-height: 0.85;
  display: flex;
  $sides: 1 1 auto;

  &::after {
    content: '';
    flex: $sides;
  }

  &__title {
    font-size: min(25vw, 370px);
    margin: 0;
    text-shadow: -0.03em 0.08em 0 $captionShadow;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: min(17vw, 240px);
    margin: 0;
  }

  &__drake {
    position: relative;
    flex: $sides;

    &-image {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      max-width: min(50vw, 700px);
      width: auto;
    }
  }

  &__inner {
    flex: 0 0 auto;
    display: flex;
    //min-height: 100vh;
    flex-direction: column;
    align-items: center;
  }
}

.menu {
  color: $text;
  font-family: "GoodDog", sans-serif;
  font-size: min(10vw, 60px);
  margin-bottom: 40px;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: table;
    line-height: 0.9;
    padding-top: 1em;

    span {
      display: table-cell;
    }

    &-name {
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        bottom: 7px;
        margin-left: 5px;
        width: 100%;
        border-bottom: 1px solid $text;
      }
    }

    &-price {
      text-align: right;
      width: 1%; /* Trick it */
      vertical-align: bottom;
      padding-left: 0.5em;
      white-space: nowrap;
    }

  }
}

.contacts {
  margin-top: auto;
    text-align: center;
}