$bg: #febfa4;
$bgPopup: #fee4d7;
$text: #11746d;
$captionShadow: #e9c722;
$buttonBorderColorForSVG: "11746d";
$systemFF: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;