$bg: #E3814A;
$bgPopup: #E3814A;
$text: #ffffff;
$captionShadow: #e9c722;
$buttonBorderColorForSVG: "ffffff";
$systemFF: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;