@use 'vars' as *;
@use 'header' as *;
@use 'menu' as *;

@font-face {
  font-family: 'FuturaBT';
  src: url('/fonts/FuturaBT-MediumItalic.woff2');
  src: url('/fonts/FuturaBT-MediumItalic.woff2') format('woff2'),
  url('/fonts/FuturaBT-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'FuturaBT';
  src: url('/fonts/FuturaBT-BoldItalic.woff2');
  src: url('/fonts/FuturaBT-BoldItalic.woff2') format('woff2'),
  url('/fonts/FuturaBT-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

a {
  text-decoration: inherit;
}

a:hover {
}

body {
  margin: 0;
  font-size-adjust: none;
  font-family: $systemFF;
  font-style: italic;
  line-height: 1.5;
  font-weight: 400;
  background-color: $bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-gutter: stable both-edges;

  //&.no-scroll {
  //  overflow: hidden;
  //}
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 min(5vw, 30px);
}

::selection {
  background-color: $text;
  color: $bg;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  user-select: none;
}

.button {
  --hover: transparent;
  color: $text;
  font-weight: 700;
  padding: 0;
  font-family: "FuturaBT", sans-serif;
  font-size: min(8vw, 60px);
  width: fit-content;
  cursor: pointer;
  transition: all 500ms;
  appearance: none;
  background-color: transparent;
  border: none;
  position: relative;
  -webkit-tap-highlight-color: rgba($text, 0.1);

}


.popup {
  &-content {
    animation: .3s cubic-bezier(.38, .1, .36, .9) forwards a;
    border: none;
    max-width: 400px;
    padding: min(5vw, 30px);
    background-color: $bgPopup;
    border-radius: min(5vw, 30px);
    width: 100%;
  }

  &-overlay {
    background: none;
    padding: 15px;
  }
}


@keyframes a {
  0% {
    box-shadow: 0 0 0 hsla(0, 0%, 95%, 0);
    opacity: 0;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0)
  }

  1% {
    box-shadow: 0 0 0 hsla(0, 0%, 95%, 0);
    opacity: 0;
    -webkit-transform: scale(.96) translateY(10px);
    transform: scale(.96) translateY(10px)
  }

  to {
    box-shadow: 0 0 500px hsla(0, 0%, 95%, 0);
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0)
  }
}

.copy {
  appearance: none;
  background-color: transparent;
  border: none;
  color: $text;
  cursor: pointer;
  font-family: "FuturaBT", sans-serif;
  padding: 0;
  width: 30px;
  height: 30px;
  fill: $text;
}


.tail {
  position: relative;
  overflow: hidden;
  padding: min(7vw, 60px) 0 min(7vw, 40px);
  min-height: 100vh;

  &__fakeOverlay {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(254, 191, 164, 0.5);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__bg {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 160%;
    max-width: 1200px;
    transform: translate3d(-50%, -50%, 0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    opacity: 0.1;

    img {
    }
  }

  &__inner {

    position: relative;
    z-index: 1;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;

  }
}


.contacts {
  margin-top: auto;
  text-align: center;

  &__link {
    color: $text;
    text-decoration: none;
    font-family: "FuturaBT", sans-serif;
    font-size: min(8vw, 35px);
    display: block;
    margin-top: 20px;
    cursor: pointer;

    &--instagram {
      img {
        max-width: 50px;
        opacity: 0.8;
      }
    }
  }
}

.dialog {
  color: $text;

  &__title {
    font-size: min(10vw, 50px);
    line-height: 0.9;
    margin: 0 0 30px;
    font-family: "FuturaBT", sans-serif;
    text-align: center;
    white-space: pre-wrap;
  }

  &__body {
    font-size: 20px;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.payments-dialog {
}

.payments-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      margin-right: 15px;
    }

    &-label {

    }

    &-value {
      font-weight: 700;
      font-size: min(4.8vw, 20px);
      word-break: break-all;
    }

    &-copy {
      opacity: 0.6;
      transition: opacity 300ms;
      position: relative;
      top: 2px;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.stripe-payment {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  &__or {

    font-size: 18px;
  }

  &__link {
    font-weight: 600;
    display: block;
    color: #fff;
    font-size: 32px;
  }
}

.footer {
  color: $text;
  text-align: center;
  margin-top: 10px;

  p {
    margin: 0;
  }
}


